

    {% extends 'index.html' %}
    {% block content %}

    {% if exam %}

    <h2 class="red-text">Examen vf</h2>
    <form action="{% url 'exam_vf' %}" method="post" class="iorg-form">{% csrf_token %}
    {% for items in exam %}
        {% with forloop.counter as i %}

         {% for question in items.questions %}
            <p>{{ question.name }}</p>
             <input name="question-{{i}}-{{ forloop.counter }}" type="hidden"  value="{{ question.id }}"/>
             <p>
                <input name="option-{{ question.id }}" type="radio" id="option-v-{{ question.id }}" value="V"/>
                <label for="option-v-{{ question.id }}" >Verdadero</label>
             </p>
             <p>
                <input name="option-{{ question.id }}" type="radio" id="option-f-{{ question.id }}" value="F"/>
                <label for="option-f-{{ question.id }}" >Falso</label>
             </p>
        {% endfor %}
        {% endwith %}
    {% endfor %}

        <input class="waves-effect waves-light btn" type="submit" value="Corregir">
    </form>
    {% endif %}


        {% if response_list %}
            <a href="{% url 'exam_vf' %}" class="">Siguiente Examen</a>
            <br>
            <h3>Total score:</h3>
            <p>Respuestas correctas: {{ total_score.count_ok }}</p>
            <p>Respuestas incorrectas: {{ total_score.count_error }}</p>
            <p>Sin respuesta: {{ total_score.count_no_response }}</p>
            <p>Puntuación total: {{ total_score.score }}</p>

            {% for response in response_list %}
                <h3 class="blue-text">Pregunta {{ forloop.counter }}:</h3>
                <p>{{ response.question.name }}</p>
                <p>elegida: {{ response.option_selected }} <-------> correcta: {{ response.question.answer }}</p>
                {% if response.option_selected == response.question.answer %}
                    <p class="green-text">Opción elegida : {{ response.option_selected }}</p>
                    <p>¡Respuesta correcta!</p>
                    <p class="green">Puntuación: {{ response.score }}</p>
                {% else %}
                    <p class="red-text">Opción elegida : {{ response.option_selected }}</p>
                    <p>Respuesta incorrecta, opción correcta: {{ response.question.answer }}</p>
                    <p class="red">Puntuación: {{ response.score }}</p>
                {% endif %}
            {% endfor %}
            <a href="{% url 'exam_vf' %}" class="">Siguiente Examen</a>
        {% endif %}
    {% endblock content %}