    {% extends 'index.html' %}

    {% load question_extras  %}

    {% block content %}

    {% if exam %}

    <h2 class="red-text">Examen de opción múltiple</h2>
    <form action="{% url 'exam_opm' %}" method="post" class="iorg-form">{% csrf_token %}
    {% for items in exam %}
        {% with forloop.counter as i %}

         {% for question in items.questions %}
            <p>{{ question.name }}</p>
             <input name="question-{{i}}-{{ forloop.counter }}" type="hidden"  value="{{ question.id }}"/>
             {% for option in question|template_option_list %}
                 {% with forloop.counter as j %}
                <p>
                    <input name="option-{{ question.id }}" type="radio" id="option-{{ question.id }}-{{ j }}" value="{{ option }}"/>
                    <label for="option-{{ question.id }}-{{ j }}" >{{ option }}</label>
                 </p>
                 {% endwith %}
             {% endfor %}
        {% endfor %}
        {% endwith %}
    {% endfor %}

        <input class="waves-effect waves-light btn" type="submit" value="Corregir">
    </form>
    {% endif %}

        {% if response_list %}
            <br>
            <a href="{% url 'exam_opm' %}" class="btn">Siguiente Examen</a>
            <br>
            <h3>Total score:</h3>
            <p>Respuestas correctas: {{ total_score.count_ok }}</p>
            <p>Respuestas incorrectas: {{ total_score.count_error }}</p>
            <p>Sin respuesta: {{ total_score.count_no_response }}</p>
            <h4>Puntuación total: {{ total_score.score }} sobre 10</h4>

            {% for response in response_list %}
                <h3 class="blue-text">Pregunta {{ forloop.counter }}:</h3>
                <p>{{ response.question.name }}</p>
                {% if response.option_selected == response.question.answer %}
                    <p class="green-text">Opción elegida : {{ response.option_selected }}</p>
                    <p>¡Respuesta correcta!</p>
                {% else %}
                    {% if response.option_selected == None %}
                        <p class="red-text">Opción elegida : No seleccionada</p>
                    {% else %}
                        <p class="red-text">Opción elegida : {{ response.option_selected }}</p>
                    {% endif %}

                    <p>Respuesta incorrecta, opción correcta: {{ response.question.answer }}</p>
                {% endif %}
            {% endfor %}
            <a href="{% url 'exam_opm' %}" class="btn">Siguiente Examen</a>
        {% endif %}
    {% endblock content %}