

    {% extends 'index.html' %}
    {% block content %}

    <h1 class="blue-text darken-4">Temas</h1>
        {% if type == "vf" %}

            {% for topic in topic_list %}
                <a href="{% url 'vf_single' %}?topic={{ topic.name }}&type={{ type }} "><h4>{{ topic.name }}</h4></a>
            {% endfor %}
        {% elif type == "opm" %}
            {% for topic in topic_list %}
                <a href="{% url 'opm_single' %}?topic={{ topic.name }}&type={{ type }} "><h4>{{ topic.name }}</h4></a>
            {% endfor %}
        {% endif %}

    {% endblock content %}