

    {% extends 'index.html' %}
    {% block content %}

    <h2 class="blue-text">{{ topic }}</h2>

    <p> -- {{ question.name }}</p>
    {% for option in question_options %}
        {% if option.name == "V" %}
            <p>---- Verdadero</p>
        {% elif option.name == "F" %}
            <p>---- Falso</p>
        {% else %}
            <p>---- ||{{ option.name }}</p>
        {% endif %}
    {% endfor %}
    <p> -- {{ question.answer }}</p>
    <p> -- {{ question.reason }}</p>
    <form action="{{ request.get_full_path }}" method="post" class="iorg-form">{% csrf_token %}
        <input type='hidden' name="question" value="{{ question.name }}" />
        {% for option in question_options %}
            <p>
                <input name="options" type="radio" id="option-{{ option.id }}" value="{{option.name}}"/>
                <label for="option-{{ option.id }}" >
                    {% if option.name == "V" %}
                        Verdadero
                    {% elif option.name == "F" %}
                        Falso
                    {% else %}
                       {{ option.name }}
                    {% endif %}
                </label>
            </p>
        {% endfor %}

        <input class="waves-effect waves-light btn" type="submit" value="Corregir">
    </form>



    {% endblock content %}