*,
*:after,
*:before {
  box-sizing: border-box;
}
header,
main,
footer {
  padding-left: 200px;
}
.lateral-nav-wrapper {
  width: 200px;
}
.lateral-nav-wrapper .logo-container {
  height: 64px;
  min-height: 64px;
  padding: 5px;
}
.lateral-nav-wrapper .logo-container img {
  max-width: 100%;
  max-height: 100%;
}
.admin-site-container .settings-button-container .button-description {
  opacity: 0;
}
.admin-site-container .settings-button-container .button-description.active {
  opacity: 1;
}
