*,
*:after,
*:before {
  box-sizing: border-box;
}
header,
main,
footer {
  padding-left: 200px;
}
.lateral-nav-wrapper {
  width: 200px;
}
.admin-site-container .settings-button-container .button-description {
  opacity: 0;
}
.admin-site-container .settings-button-container .button-description.active {
  opacity: 1;
}
