    {% extends 'index.html' %}
    {% block content %}

        <h1 class="purple-text darken-4">Temas</h1>
        <ul class="collapsible concept-list-wrapper" data-collapsible="accordion">
            {% for topic in topic_list %}
                <li>
                    <div class="collapsible-header">{{ topic.name }}</div>
                    <div class="collapsible-body">
                        {% for subtopic in topic.subtopics %}
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header">{{ subtopic.name }}</div>
                                    <div class="collapsible-body">
                                        <div class="row">
                                        {% for concept in subtopic.concepts %}
                                           <div class="concept-item">
                                                <a href="" class="waves-effect waves-light btn">{{ concept.name }}</a>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% endblock content %}